[build]
target = "index.html"
dist = "dist"

#[package.metadata.leptos]
#assets-dir = "public"

[serve]
port = 8080
open = true

[watch]
watch = ["src"]

[[hooks]]
stage = "pre_build"    # When to run hook, must be one of "pre_build", "build", "post_build"
command = "clear"      # Command to run
command_arguments = [] # Arguments to pass to command